<form action="/square_root/results">
    <div>
        <label for="user_number">Enter a number</label>
    </div>
    <input id="user_number" name="number" placeholder="What number do you want to take the square root of?" type="text">
    <button>Calculate square root</button>
</form>
